# Server
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/adcoder_store"
JWT_SECRET="changeme"
JWT_REFRESH_SECRET="changeme-too"
PORT=4000
CLIENT_ORIGIN="http://localhost:5173"
STRIPE_PUBLIC_KEY="pk_test_yourkey"
STRIPE_SECRET_KEY="sk_test_yourkey"
